<section id="submit">
	<form class="new_post" id="new_post" ng-submit='submit()'>
		<p class="sentence">I'm voting for</p>
		<div class="field">
			<ul>
				<div class="candidate-row">
					<li class="candidate" id="obama" ng-click='select_candidate("obama")'><img src="images/obama.jpg" alt=""></li>
					<li class="candidate" id="romney" ng-click='select_candidate("romney")'><img src="images/romney.jpg" alt=""></li>
				</div>
				<div class="candidate-row">
					<li class="candidate" id="johnson" ng-click='select_candidate("johnson")'><img src="images/gary.jpg" alt=""></li>
					<li class="candidate" id="nobody" ng-click='select_candidate("nobody")'><img src="images/derek.jpg" alt=""></li>
				</div>
			</ul>
		</div>
		<p class="sentence">because...</p>
		<div class="field">
			<textarea cols="20" rows="10" class="reason">...no more than 200 words.</textarea>
		</div>
		<div class="field">
			<input type="textarea" name="post[user_attributes][email]"class="email" ng-model='email' placeholder="your_email@example.com">
		</div>  
		<div class="actions">
			<button name="commit" type="submit" class="submit">Submit</button>
		</div>
	</form>
</section>
<section id="posts">
	<div class="submission">
		<div class="upvote">
			<a href="VOTE_TEST">
				<img src="images/vote.png" alt="Vote this up!" />
				<span class="votes">895</span>
			</a>
		</div>
		<article class="WV_TEST obama">
			<p>
				I'm voting for <span>CANDIDATES NAME + COLOR</span> because <span>USER's comments</span>span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
		 	</p>
		</article>
	</div>
</section>

