<form class="new_post" id="new_post" ng-submit='submit()'>
  <p class="sentence">I'm voting for</p>
  <div class="field">
    <ul>
      <li class="candidate" id="obama" ng-click='select_candidate("obama")'><img src="images/obama.jpg" alt=""></li>
      <li class="candidate" id="romney" ng-click='select_candidate("romney")'><img src="images/romney.jpg" alt=""></li>
      <li class="candidate" id="johnson" ng-click='select_candidate("johnson")'><img src="images/gary.jpg" alt=""></li>
      <li class="candidate" id="nobody" ng-click='select_candidate("nobody")'><img src="images/derek.jpg" alt=""></li>
    </ul>
  </div>
  <p class="sentence">because...</p>
  <div class="field">
    <textarea cols="20" rows="10" class="reason" ng-model='reason'>...no more than 200 words.</textarea>
  </div>
  <!-- <div class="field">
    <input type="textarea" name="post[user_attributes][email]"class="email" ng-model='email' placeholder="your_email@example.com">
  </div> -->
  <div class="actions">
    <input name="commit" type="submit" value="Create Post">
  </div>
</form>

