<form class="new_post" id="new_post" ng-submit='submit()'>
  <p class="sentence">I'm voting for</p>
  <div class="field">
    <ul>
      <li class="candidate" id="obama" ng-click='select_candidate("obama")'><img src="images/obama.jpg" alt=""></li>
      <li class="candidate" id="romney" ng-click='select_candidate("romney")'><img src="images/romney.jpg" alt=""></li>
      <li class="candidate" id="johnson" ng-click='select_candidate("johnson")'><img src="images/gary.jpg" alt=""></li>
      <li class="candidate" id="nobody" ng-click='select_candidate("nobody")'><img src="images/derek.jpg" alt=""></li>
    </ul>
  </div>
  <p class="sentence">because</p>
  <div class="field">
    <textarea class="reason" cols="40" id="post_reason" name="post[reason]" rows="20" ng-model='reason'></textarea>
  </div>
  <div class="field">
    
      <label for="post_user_attributes_email">Your Email</label>
      <textarea class="email" cols="40" id="post_user_attributes_email" name="post[user_attributes][email]" rows="20" ng-model='email'></textarea>
  </div>  
  <div class="actions">
    <input name="commit" type="submit" value="Create Post">
  </div>
</form>