<div class="submission">
  <div class="upvote">
    <a href="upvote">Upvote</a>
  </div>
  <article class="WV_TEST obama">
    <p>I'm voting for <span>CANDIDATES NAME + COLOR</span> because <span>USER's comments Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
</div>

<div class="submission">
  <div class="upvote">
    <a href="upvote">Upvote</a>
  </div>
  <article class="WV_TEST obama">
    <p>I'm voting for <span>CANDIDATES NAME + COLOR</span> because <span>USER's comments Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
</div>

<div class="submission">
  <div class="upvote">
    <a href="upvote">Upvote</a>
  </div>
  <article class="WV_TEST obama">
    <p>I'm voting for <span>CANDIDATES NAME + COLOR</span> because <span>USER's comments Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
</div>

<div class="submission">
  <div class="upvote">
    <a href="upvote">Upvote</a>
  </div>
  <article class="WV_TEST obama">
    <p>I'm voting for <span>CANDIDATES NAME + COLOR</span> because <span>USER's comments Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
</div>

<div class="submission">
  <div class="upvote">
    <a href="upvote">Upvote</a>
  </div>
  <article class="WV_TEST obama">
    <p>I'm voting for <span>CANDIDATES NAME + COLOR</span> because <span>USER's comments Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
</div>

<div class="submission">
  <div class="upvote">
    <a href="upvote">Upvote</a>
  </div>
  <article class="WV_TEST obama">
    <p>I'm voting for <span>CANDIDATES NAME + COLOR</span> because <span>USER's comments Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
</div>

<div class="submission">
  <div class="upvote">
    <a href="upvote">Upvote</a>
  </div>
  <article class="WV_TEST obama">
    <p>I'm voting for <span>CANDIDATES NAME + COLOR</span> because <span>USER's comments Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
</div>
