// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* @group homepage */

	.sentence {
		font-size: 40px;
		line-height: 40px;
	}

	.post_user_attributes_email {
		height: 40px;
	}

	.candidate {
		display: inline-block;
		width: 20%;

		img {
			width: 100%;
		}
	}

	.reason {
		width: 80%;
	}

	.email {
		height: 20px;
	}



/* @end */	

/* @group results page */

	.submission {
		background-color: gray;

		display: block;
		margin: 0 auto 20px;
		width: 80%;
		text-align: left;
	}

/* @end */