// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* @group homepage */

	.sn {
		position: absolute;
		right: 0;
		top: 0;
	}

	.call-to-action {
		margin-bottom: 16px;

		a {
			color: inherit;
		}

		a:hover {
			background-color: #fff;
			color: #0bccbb;
		}
	}

	.fixed-button {
		background-color: #0b58bb;
		border-color: #ff0000;
		border-top-left-radius: 80px;
		border-top-right-radius: 80px;
		border: 2px solid #000;
		border-bottom: 0;
		bottom: 0;
		color: #fff;
		cursor: pointer;
		font-family:'american_purposeregular';
		font-size: 30px;
		height: 50px;
		left: 50%;
		margin-left: -200px;
		padding: 10px;
		position: fixed;
		width: 400px;
		z-index: 1;

		@media screen and (max-width:400px) {
			border-radius: 0;
			width: 100%;
			border-bottom: 0;
			margin-left: 0;
			left: 0;
		}
	}

	.close {
		color: #000;
		cursor: pointer;
		font-family: sans-serif;
		position: absolute;
		margin: 5px;
		line-height: 10px;
		right: 0;
		top: 0;
	}

	.sentence {
		font-size: 40px;
		line-height: 52px;
		margin-bottom: 20px;
	}

	.post_user_attributes_email {
		height: 40px;
	}

	.new_post {
		position: relative;
	}

	.candidate {
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		-o-transition: all .1s linear;
		-ms-transition: all .1s linear;
		transition: all .1s linear;
		display: inline-block;
		margin: 6px 6px 0;
		padding-bottom: 30px;
		cursor: pointer;
		color: #fff;
		line-height: 16px;
		height: 195px;
		width: 195px;
		position: relative;
		text-align: center;
		font-size: 14px;

		span {
			position: absolute;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 100%;
		}

		&:hover {
			color: inherit;
		}

		&:active {
			color: inherit;
		}
	}

	#obama {
		background: url(../images/obama.jpg) no-repeat 0 0;
		&:hover {
			background-image: url(../images/obama-h.jpg);
		}
	}

	#romney {
		background: url(../images/romney.jpg) no-repeat 0 0;
		&:hover {
			background-image: url(../images/romney-h.jpg);
		}
	}

	#johnson {
		background: url(../images/gary.jpg) no-repeat 0 0;
		&:hover {
			background-image: url(../images/gary-h.jpg);
		}
	}

	#nobody {
		background: url(../images/derek.jpg) no-repeat 0 0;
		&:hover {
			background-image: url(../images/derek-h.jpg);
		}
	}
	.candidate-row {
		display: inline-block;
	}

	.back {
		position: absolute;
		display: block;
		bottom: 30px;
		right: 0;
		color: #000;
		font-size: 12px;
		line-height: 12px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.reason, .email {
		-webkit-box-sizing: border-box;
		-moz-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		border: 2px dashed rgb(11, 88, 187);
		color: #000;
		font-size: 26px;
		line-height: 34px;
		font-family: Georgia, serif;
		width: 100%;

		&:focus {
			outline: none;
		};
	}

	.reason {
		margin-bottom: 20px;
		padding: 20px;
		-webkit-box-sizing: border-box;
		-moz-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		@media screen and (max-width:500px) {
			font-size: 18px;
			line-height: 20px;
		}
		&:first-letter {
			text-transform: lowercase;
		}
	}

	.email {
		height: 40px;
		text-align: center;
		width: 80%;
		@media screen and (max-width:650px) {
			font-size: 18px;
			width: 100%;

		}
	}

	.submit {
		border: 2px solid #000;
		font-family:'american_purposeregular';
		font-size: 30px;
		padding: 10px;
		height: 150px;
		min-width: 150px;
		-moz-border-radius: 75px;
		-webkit-border-radius: 75px;
		-o-border-radius: 75px;
		-ms-border-radius: 75px;
		border-radius: 75px;
		cursor: pointer;
		color: #fff;
		background-color: #0b58bb;
		margin-top: 15px;

		&:hover {
			border: 5px solid #ff0000;
		}
	}

/* @end */	

/* @group results page */

	.disclaimer {
		outline: 2px dashed #0b58bb;
		width: 80%;
		margin: auto;
		padding: 20px;
		margin-bottom: 20px;
		position: relative;
	}

	.fb {
		margin: 10px 6px;
	}

	.sort-row {
		display: inline-block;
	}

	.sort li {
		display: inline-block;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		margin-bottom: 10px;

		a {
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			-o-border-radius: 50px;
			-ms-border-radius: 50px;
			border-radius: 50px;
			border: 2px solid #0b58bb;
			width: 100px;
			padding: 6px;
			color: inherit;
			display: block;
			margin-left: 12px;
			text-decoration: none;

			&:hover {
				background-color: #0b58bb;
				color: white;
			}

			@media screen and (max-width:500px) {
				width: 80px;
				font-size: 12px;
			}
		}
	}

	.submission {
		-moz-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		display: block;
		margin: 20px auto;
		min-height: 70px;
		padding: 10px;
		position: relative;
		text-align: left;
		word-wrap: break-word;

		article {
			font-size: 24px;
			margin-left: 72px;
			color: #000;
		}
	}


	hr {
		border: 0;
		  height: 1px;
		  background: #333;
		  background-image: -webkit-linear-gradient(left, #ccc, #0b58bb, #ccc); 
		  background-image:    -moz-linear-gradient(left, #ccc, #0b58bb, #ccc); 
		  background-image:     -ms-linear-gradient(left, #ccc, #0b58bb, #ccc); 
		  background-image:      -o-linear-gradient(left, #ccc, #0b58bb, #ccc); 
		width: 100px;
	}

	.upvote {
		float: left;
		margin: 0 8px;
		margin-top: -26px;
		position: absolute;
		top: 50%;
		cursor: pointer;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		-ms-transition: all .2s linear;
		transition: all .2s linear;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		-o-border-radius: 25px;
		-ms-border-radius: 25px;
		border-radius: 25px;
		border: 1px solid #0b58bb;
		display: block;
		height: 50px;
		text-decoration: none;

		&.hover:hover {
			background-color: inherit;
			font-weight: bold;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);

		}
	}

	.votes {
		left: 3px;
		position: absolute;
		text-align: center;
		top: 17px;
		width: 46px;
	}

	.obama {
		.pres {
			color: #0b58bb;
			font-size: 20px;
		}
	}

	.romney {
		.pres {
			color: #ff0000;
			font-size: 20px;
		}
	}

	.johnson {
		.pres {
			color: rgb(206, 152, 14);
			font-size: 20px;
		}
	}

	.nobody {
		.pres {
			color: rgb(146, 143, 135);
			font-size: 20px;
		}
	}

/* @end */