/* @group homepage */
.sentence {
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 20px; }

.post_user_attributes_email {
  height: 40px; }

.candidate {
  -webkit-transition: all .1s linear;
  display: inline-block;
  width: 200px;
  margin: 0 12px;
  cursor: pointer;
  color: #fff;
  line-height: 16px; }
  .candidate:hover {
    color: inherit; }
  .candidate:active {
    color: inherit; }
  .candidate img {
    border: 2px solid #000;
    border-radius: 100px;
    width: 100%; }
    .candidate img:hover {
      border: 2px solid #ff0000; }

.candidate-row {
  display: inline-block; }

.reason, .email {
  box-sizing: border-box;
  border: 2px dashed #0b58bb;
  color: #000;
  font-size: 26px;
  line-height: 34px;
  font-family: Georgia, serif;
  width: 100%; }
  .reason:focus, .email:focus {
    outline: none; }

.reason {
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box; }

.email {
  height: 40px;
  min-width: 350px;
  text-align: center;
  width: 80%; }

.submit {
  border: 2px solid #000;
  font-family: 'american_purposeregular';
  font-size: 30px;
  padding: 10px;
  height: 150px;
  min-width: 150px;
  border-radius: 75px;
  cursor: pointer;
  color: #fff;
  background-color: #0b58bb;
  margin-top: 15px; }
  .submit:hover {
    border: 5px solid #ff0000; }

/* @end */
/* @group results page */
.submission {
  -webkit-box-sizing: border-box;
  display: block;
  margin: 0 auto 20px;
  outline: 2px dashed #0b58bb;
  padding: 10px;
  position: relative;
  text-align: left; }
  .submission article {
    font-size: 24px;
    margin-left: 72px; }

.upvote {
  float: left;
  margin: 0 8px;
  margin-top: -26px;
  position: absolute;
  top: 50%; }
  .upvote a {
    border-radius: 25px;
    border: 1px solid #0b58bb;
    display: block;
    height: 50px;
    text-decoration: none; }
    .upvote a:hover {
      background-color: inherit;
      color: #000;
      font-weight: bold; }

.votes {
  left: 3px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 46px; }

/* @end */
