// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* @group homepage */

	.sentence {
		font-size:40px;
		line-height: 52px;
		margin-bottom: 20px;
	}

	.post_user_attributes_email {
		height: 40px;
	}

	.candidate {
		-webkit-transition: all 1s linear;
		display: inline-block;
		width: 20%;
		margin: 0 4px;
		cursor: pointer;

		img {
			border: 1px solid #000;
			border-radius: 100px;
			width: 100%;
		}
	}

	.reason, .email {
		border: 2px dashed rgb(11, 88, 187);
		color: #000;
		font-size: 26px;
		line-height: 34px;
		font-family: Georgia, serif;

		&:focus {
			outline: none;
		};
	}

	.reason {
		margin-bottom: 20px;
		width: 80%;
		padding: 20px;
		box-sizing: border-box;
	}

	.email {
		height: 40px;
		width: 50%;
		min-width: 394px;
		text-align: center;
	}

/* @end */	

/* @group results page */

	.submission {
		outline: 2px dashed rgb(11, 88, 187);
		padding: 10px;
		display: block;
		margin: 0 auto 20px;
		width: 80%;
		text-align: left;

		article {
			vertical-align: middle;
			font-size: 24px;
			margin-left: 60px;
		}
	}

	.upvote {
		float: left;
		vertical-align: middle;
		margin-right: 10px;

		a {
			display: block;
		}
	}



/* @end */