<!DOCTYPE html>
<html ng-app='why-vote' ng-touch html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=yes" />
  <title>Defend Your Fucking Vote</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="fb:app_id" content="378901915518634" />
  <meta property="og:title" content="Defend Your F***ing Vote" />
  <meta property="og:type" content="cause" />
  <meta property="og:url" content="http://defendyourfuckingvote.herokuapp.com" />
  <meta property="og:image" content="http://defendyourfuckingvote.herokuapp.com/images/vote_fb.png" />
  <meta property="og:site_name" content="Defend Your F***ing Vote" />
  <meta property="fb:admins" content="1064730089" />
</head>
<body>
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    // init the FB JS SDK
	    FB.init({
	      appId      : '378901915518634', // App ID from the App Dashboard
	      channelUrl : 'http://defendyourfuckingvote.herokuapp.com', // Channel File for x-domain communication
	      status     : true, // check the login status upon init?
	      cookie     : true, // set sessions cookies to allow your server to access the session?
	      xfbml      : true  // parse XFBML tags on this page?
	    });

	    // Additional initialization code such as adding Event Listeners goes here

	  };

	  // Load the SDK's source Asynchronously
	  (function(d, debug){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document, /*debug*/ true));
	</script>
	<div id="global-wrapper">
		<div class="sn">
			<div class="fb-like" data-href="http://defendyourfuckingvote.herokuapp.com" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="segoe ui"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://defendyourfuckingvote.herokuapp.com" data-text="Guys. Defend your fucking vote. Come on." data-via="willthefirst" data-related="saiko_chriskun" data-hashtags="defendyourvote">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<h1>Defend your fucking<span class="big red"> vote.</span></h1>
		<div ng-view></div>
</body>
</html>
