<!DOCTYPE html>
<html>
<head>
  <title>Explain your vote</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="global-wrapper">
		<h1>Explain your <span class="big red">vote.</span></h1>
		<%= yield %>
	</div>
</body>
</html>
